* {
    margin: 0;
    padding: 0;
}

.dicecontainer {
    display: grid;
    grid-template-columns: auto;
    
    height: 150px;
    width: 100px;
}

.dice,
.diceoutput {
   margin: 5px; 

}

.dicebtn {
    height: 100%;
    width: 100%;

}

.diceoutputtxt {
    text-align: center;
    
}